@tailwind base;
@tailwind components;
@tailwind utilities;

.min-vh-80 {
    min-height: 80vh;
}

.dot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: black;
    border-style: solid;
    display: inline-block;
}

.dot-green-blue {
    background: rgb(167,243,208);
    background: linear-gradient(135deg, rgba(167,243,208,1) 0%, rgba(191,219,254,1) 100%);
}

.dot-red-orange {
    background: rgb(255,50,9);
    background: linear-gradient(135deg, rgba(255,50,9,1) 0%, rgba(255,141,0,1) 100%);
}

.dot-blue-orange {
    background: rgb(9,59,255);
    background: linear-gradient(135deg, rgba(9,59,255,1) 0%, rgba(255,141,0,1) 100%);
}

