-var values = ["ABC News", "Al Jazeera English", "Ars Technica", "Associated Press", "Australian Financial Review", "Axios", "BBC News", "BBC Sport", "Bleacher Report", "Bloomberg", "Breitbart News", "Business Insider", "Business Insider (UK)", "Buzzfeed", "CBS News", "CNN", "Crypto Coins News", "Engadget", "Entertainment Weekly", "ESPN", "ESPN Cric Info"]

select.form-select.block.w-full.mt-1.bg-transparent.border-b.border-gray-300.text-gray-100
 each val in values
  option= val