<section class="snap-box box-9 cursor-pointer" data-index="9">
    <div class="h-full flex flex-col justify-center items-center rounded-2xl">
        <div class="w-auto py-7 px-5 flex flex-col justify-center items-center">
            <h1 class="text-5xl text-gray-300 mb-8">
                Setup finished!
            </h1>
            <span class="wave">&nbsp;</span>
        </div>
    </div>
</section>
