<section class="snap-box box-7" data-index="7">
    <div class="h-full flex flex-col justify-center items-center rounded-2xl">
        <div class="w-auto py-7 px-5 flex flex-col justify-center items-center">
            <h1 class="text-5xl text-gray-300 mb-8">
                Log in to your Dualis account
            </h1>
            <label class="block w-full">
                <span class="text-gray-100">Email</span>
                <input type="email" id="dualisMail" class="form-input mt-1 block w-full bg-transparent border-b border-gray-300 text-gray-300" placeholder="foo.bar@lehre.dhbw-stuttgart.de">
            </label>
            <label class="block w-full mt-10">
                <span class="text-gray-100">Password</span>
                <input type="password" id="dualisPW" class="form-input mt-1 block w-full bg-transparent border-b border-gray-300 text-gray-300" placeholder="Password">
            </label>
        </div>
    </div>
</section>
