<section class="snap-box box-3" data-index="3">
    <div class="h-full flex flex-col justify-center items-center rounded-2xl">
        <div class="w-auto py-7 px-5 flex flex-col justify-center items-center">
            <h1 class="text-5xl text-gray-300 mb-8">
                Please log in to your Google account
            </h1>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </div>
</section>
