<section class="snap-box box-2" data-index="2">
    <div class="h-full flex flex-col justify-center items-center rounded-2xl">
        <div class="w-auto py-7 px-5">
            <h1 class="text-5xl text-gray-300 mb-8">
                By what name should I adress you?
            </h1>
            <input type="text" id="name" class="w-full h-12 bg-transparent border-b text-gray-300 text-center shadow-2xl outline-none text-5xl text-turquoise-400">
        </div>
    </div>
</section>
