<section class="snap-box box-4" data-index="4">
    <div class="h-full flex flex-col justify-center items-center rounded-2xl">
        <div class="w-auto py-7 px-5 flex flex-col justify-center items-center">
            <h1 class="text-5xl text-gray-300 mb-8">
                Please log in to your Spotify account
            </h1>
            <div>
                <button id="spotify-button" class="bg-gray-100 w-56 h-14 text-gray-300 flex flex-row justify-center items-center rounded-2xl text-gray-900 outline-none">
                    <img src="img/spotify.png" alt="" class="w-10 h-10 mr-4">
                    Log in with Spotify
                </button>
            </div>
        </div>
    </div>
</section>
