<section class="snap-box box-1 flex flex-col justify-center items-center" data-index="1">
    <div class="wrapper"><h1 class="glitch text-gray-300" id="title">J.A.R.V.I.S</h1></div>
    <div class="mt-20">
        <svg class="animate-bounce w-16 h-16 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
        </svg>
    </div>
</section>
