<section class="snap-box box-8" data-index="8">
    <div class="h-full w-full flex flex-col justify-center items-center rounded-2xl">
        <div class="py-7 px-5 flex flex-col justify-center items-center w-3/6">
            <h1 class="text-5xl text-gray-300 mb-8 w-full">
                Choose your stocks
            </h1>
            <div class="w-full flex flex-row">
                <div class="w-2/4 mr-4">
                    <div>
                        <label for="stock">
                            <input name="stock" id="stock" type="text" class="w-full h-12 bg-transparent border-b text-gray-300 text-right shadow-2xl outline-none text-5xl">
                        </label>
                    </div>
                    <div class="overflow-auto mt-3 grid gap-4 h-4/6" id="stockContainer">
                        <!-- stock element -->
<!--                        <div class="flex flex-row items-center">-->
<!--                            <div class="rounded border border-gray-300 h-20 w-20 flex items-center justify-center mr-8 bg-gray-50 bg-opacity-20">-->
<!--                                A-->
<!--                            </div>-->
<!--                            <p class="uppercase">AGILENT TECHNOLOGIES INC</p>-->
<!--                        </div>-->
                        <!-- end stock element -->
                    </div>
                </div>
                <div class="w-2/4 flex flex-col items-end justify-center gap-8 py-20">
                    <!-- picked stock boxes -->
                    <div class="border border-turquoise-400 w-36 h-12 flex items-center justify-center rounded-xl">
                        <p></p>
                    </div>
                    <div class="border border-turquoise-400 w-36 h-12 flex items-center justify-center rounded-xl">
                        <p></p>
                    </div>
                    <div class="border border-turquoise-400 w-36 h-12 flex items-center justify-center rounded-xl">
                        <p></p>
                    </div>
                    <!-- end boxes -->
                </div>
            </div>
        </div>
    </div>
</section>
